<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet"type=text/css href="{{ url_for('static', filename='script.css') }}">  
<link rel="stylesheet" href="../static/script.css">  
<center><h1> Table Created !!</h1>
    <marquee  behavior="scroll" direction="left"> <img src="https://www.pngkey.com/png/full/246-2467352_aws-dynamodb-logo-png-transparent-aws-dynamodb-logo.png">  </marquee>  
<p>To add entries in already created table :</p>
<button type="button" ><a href = "/createentry">Click Me! </a></button>
<p>To delete table:</p>
<button type="button"><a href="/books/delete">Click Me!</button>
</center>
</body>
</html>